@tailwind base;
@tailwind components;
@tailwind utilities;

*{font-family: 'Poppins', sans-serif;}

.shadowCustom{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}

@keyframes shimmer {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(300%);
    }
}
.before\:shimmer::before {
    content: var(--tw-content);
    animation: shimmer 1s infinite;
}